@model IEnumerable<Shopoo.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneFixe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneMobile)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneFixe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneMobile)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="/utilisateurs/edit/@item.Id" class="btn btn-info rounded btn-sm" title="Editer"><i class="fa fa-edit"></i></a>
                    <a href="/utilisateurs/details/@item.Id" class="btn btn-success rounded btn-sm mx-2" title="Détails"><i class="fa fa-list"></i></a>
                    <a href="/utilisateurs/delete/@item.Id" class="btn btn-danger rounded btn-sm" title="Supprimer"><i class="fa fa-trash"></i></a>
                </div>
            </td>
        </tr>
    }

</table>
