@model IEnumerable<Shopoo.Models.Produit>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Ajouter Produit", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Quantitée en stock
        </th>
        <th>
            Catégorie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            Mis en vente
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteEnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                <img src="~/images/produits/@Html.DisplayFor(modelItem => item.Image)" width="40px" height="40px" title="Image produit @Html.DisplayFor(modelItem => item.Libelle)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MisEnVente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
